
/* ==  RESETS  == */

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 400;
}


/* ==  BACKGROUNDS  == */

.title {
    background-image: url(../images/pattern.webp);
}


/* ==  COLOR SCHEMES  == */

.title h1 {
    color: khaki;
}

.brushes h2,
.frames h2,
.paint h2 {
    color: white;
}

.brushes h2 {
    background-color: mediumspringgreen;
}

.frames h2 {
    background-color: lightcoral;
}

.paint h2 {
    background-color: skyblue;
}


/* ==  FONTS  == */

/* ====  Font Families  ==== */

* {
    font-family: Helvetica;
}

/* ====  Font Weights  ==== */

.title h1 {
    font-weight: bold;
}

.brushes h2,
.frames h2,
.paint h2 {
    font-weight: bold;
}

.brushes h3,
.frames h3,
.paint h3 {
    font-weight: bold;
}


/* ==  LAYOUT  == */

/* ====  Widths  ==== */

.page-container {
    width: 95%;
}

.title {
    width: 100%;
}

/* ====  Alignments  ==== */

.page-container {
    margin: 0 auto;;
}

.title {
    text-align: center;
}

/* ====  Displays  ==== */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.brushes h2,
.frames h2,
.paint h2 {
    display: flex;
    align-items: center;
}

/* ====  Positionings  ==== */

.page-container {
    position: relative;
    top: 1.5rem;
}

/* ====  Paddings  ==== */

.brushes h3,
.frames h3,
.paint h3 {
    padding-bottom: 1.5rem;
}

/* ====  Margins  ==== */

.title {
    margin-bottom: 5rem;
}


/* ==  VIEWPORTS  == */

/* ====  Small  ==== */

@media (max-width: 640px) {

    /* ====  Font Sizes  ==== */

    .title h1 {
        font-size: 3rem;
    }

    .brushes h2,
    .frames h2,
    .paint h2 {
        font-size: 2.5rem;
    }

    .brushes h3,
    .frames h3,
    .paint h3 {
        font-size: 1.5rem;
    }

    /* ====  Heights  ==== */

    .title {
        height: 5rem;
    }

    .section-container {
        height: 20rem;
    }
    /*
    .brushes,
    .frames,
    .paint {
        height: 25rem;
    }
    */
}

    .brushes h2,
    .frames h2,
    .paint h2 {
        height: 3rem;
    }

    img {
        height: 10rem;
    }

}

/* ====  Medium  ==== */


/* ====  Large  ==== */

@media (min-width: 1008px) {

    /* ====  Font Sizes  ==== */

    .title h1 {
        font-size: 10rem;
    }

    .brushes h2,
    .frames h2,
    .paint h2 {
        font-size: 3.2rem;
    }

    .brushes h3,
    .frames h3,
    .paint h3 {
        font-size: 1.5rem;
    }

    /* ====  Heights  ==== */

    .title {
        height: 15rem;
    }


/* ==  DEBUGGING  == */

* {
    outline: 1px solid red;
}




